apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
        - name: backend
          # This is the image we built locally
          image: transaction-backend:latest
          # This is CRITICAL. It tells K8s not to look on the internet
          imagePullPolicy: Never
          ports:
            - containerPort: 4000
          resources:
            limits:
              cpu: "500m"
              memory: "256Mi"
            requests:
              cpu: "250m"
              memory: "128Mi"
          env:
            # These variables are used by the Node.js app to connect
            - name: POSTGRES_HOST
              value: "db-service" # The DNS name of our DB service
            - name: POSTGRES_PORT
              value: "5432"
            - name: POSTGRES_DB
              value: "transactions"
            - name: POSTGRES_USER
              valueFrom:
                secretKeyRef:
                  name: db-secret
                  key: POSTGRES_USER
            - name: POSTGRES_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: db-secret
                  key: POSTGRES_PASSWORD